body {

	padding: 0;

	margin: 0;

	width: 100vw;

	height: 100vh;

	background-color: #e3e3e3;

	font-family: 'Italianno', cursive;


	.container {

		box-sizing: border-box;

		width: 100%;

		height: 100%;


		header {

		

			display: flex;

			flex-direction: row;

			justify-content: space-between;

			font-size: 3rem;

			padding: 0 2rem;

		}



		.heading {
			font-size: 2.2rem;

			display: flex;

			margin-top: 5%;

			justify-content: center;

		}

		.row {

			display: flex;

			flex-direction: row;

			flex-wrap: wrap;

			width: 100%;

		  }
		  .row:nth-child(odd) {

			background: linear-gradient(to bottom, #e3e3e3 30%, #dcdcdc 30%);

		}
		  .row:nth-child(even) {
			  
			background-color: #d6d6d6;

			flex-direction: row-reverse!important;

		}
		.column {

			display: flex;

			flex-direction: column;

			flex-basis: 100%;

			flex: 1;

			margin: 10px;

			padding: 20px;

		  }

		  .section1-text,
		  .section2-text {

			justify-content: center;
		}


		img {

			max-height: 100%;

			max-width: 100%;

			margin-left: auto;

    			margin-right: auto;

		}

		 .section1-text {

			z-index: 2;

		}

		 .section2-text {

			padding-left: 2rem;

		}



		footer {


			background-color: #4a4a4a;

			color: #dbdbdb;

			font-size: 2rem;

			padding: 0 2rem;

		}

	}



	.title {

		font-size: 2.5rem;

	}

	.content {

		font-size: 1.8rem;

	}
	i.fa-bars{
		display: none;

		font-size: 24px;

		position: fixed;

		z-index:100;

		transform: rotate(-50deg);

		top: 15px;
		
		right: 30px;

	}

}

@media only screen and (max-width: 667px){
	.container {
		font-size: 2rem;
	}
	.column {
		flex: auto !important;
	}
	body .container .heading {
		font-size: 2rem;
		padding: 10px;
	}
	body i.fa-bars{
		display: inline-block;
	}
	body i.fa-bars:before{
		content: "\f0c9";
	}
	body .container > .section1-text{
		padding: 10px;
	}
	body .container > .section1-image,
	body .container > .section2-image {

		height: auto;
	}
	img {
			max-width: 95%;

		}
	
	
	body .container > .section2-text {
		padding-left: 0rem;
		padding:10px;

	}
	body .container footer{
		width: 100%;
		padding: 10px;
	}
	.menu{
		display: none;
	}

	header > .js--responsive {
		display: block;
		right: 0;
		position: fixed;
		top: 65px;
		bottom: 0;
		overflow-y: scroll;
		z-index: 120;
		width: 75%;
		box-shadow: 0px 17px 27px 0px rgba(0, 0, 0, 0.23);
		max-width: 380px;
		padding: 20px 30px 20px 20px;
		background-color: #ffffff;
		border-top: 2px solid #f1f1f1;
	}
}
